<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- 全局的初始化参数 -->
  <context-param>
      <param-name>a</param-name>
      <param-value>1</param-value>
  </context-param>
  <context-param>
  	  <param-name>b</param-name>
  	  <param-value>2</param-value>
  </context-param>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.lddx.web.TestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
  
</web-app>
