<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 配置全局初始化参数，可以通过ServletContext对象来获取 -->
  <context-param>
      <param-name>data1</param-name>
      <param-value>value1</param-value>
  </context-param>
  <context-param>
  	  <param-name>data2</param-name>
  	  <param-value>value2</param-value>
  </context-param>
  
  <!-- 在全局位置配置Session的存活时间,单位是分钟 -->
  <session-config>
      <session-timeout>20</session-timeout>
  </session-config>
  
  
  <!-- 配置HelloServlet -->
  <servlet>
  	   <!-- 对要配置的Servlet起一个名字，名字任意起，见名知意 -->
  	   <servlet-name>HelloServlet</servlet-name>
  	   <!-- 配置Servlet的路径：包名+类名 -->
  	   <servlet-class>test.HelloServlet</servlet-class>
  </servlet>
  <!-- 配置DefaultServlet -->
  <servlet>
  		<servlet-name>DefaultServlet</servlet-name>
  		<servlet-class>test.DefaultServlet</servlet-class>
  </servlet>
  <!-- 配置RegisterServlet -->
  <servlet>
       <servlet-name>RegisterServlet</servlet-name>
       <servlet-class>request.RegisterServlet</servlet-class>
  </servlet>
  <!-- 配置RequestDemo1 -->
  <servlet>
      <servlet-name>RequestDemo1</servlet-name>
      <servlet-class>request.RequestDemo1</servlet-class>
  </servlet>
  <!-- 配置RegisterServlet1 -->
  <servlet>
      <servlet-name>RegisterServlet1</servlet-name>
      <servlet-class>request.RegisterServlet1</servlet-class>
  </servlet>
  <!-- 配置RequestDemo2 -->
  <servlet>
      <servlet-name>RequestDemo2</servlet-name>
      <servlet-class>request.RequestDemo2</servlet-class>
  </servlet>
  <!-- 配置RequestDemo3 -->
  <servlet>
    <servlet-name>RequestDemo3</servlet-name>
    <servlet-class>request.RequestDemo3</servlet-class>
  </servlet>
  <!-- 配置RequestDemo4 -->
  <servlet>
    <servlet-name>RequestDemo4</servlet-name>
    <servlet-class>request.RequestDemo4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo5</servlet-name>
    <servlet-class>request.RequestDemo5</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseDemo1</servlet-name>
    <servlet-class>response.ResponseDemo1</servlet-class>
    <init-param>
       <param-name>a</param-name>
       <param-value>111</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ResponseDemo2</servlet-name>
    <servlet-class>response.ResponseDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseDemo3</servlet-name>
    <servlet-class>response.ResponseDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletConfigDemo</servlet-name>
    <servlet-class>servletconfig.ServletConfigDemo</servlet-class>
    <!-- 给当前ServletConfigDemo配置初始化参数，这些初始化参数可以通过ServletConfig来获取 -->
    <init-param>
         <param-name>pwd</param-name>
         <param-value>123456</param-value>
    </init-param>
    <init-param>
         <param-name>url</param-name>
         <param-value>www.baidu.com</param-value>
    </init-param>
    <init-param>
    	<param-name>id</param-name>
    	<param-value>1001</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ServletContextDemo</servlet-name>
    <servlet-class>servletcontext.ServletContextDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContextDemo1</servlet-name>
    <servlet-class>servletcontext.ServletContextDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContextDemo2</servlet-name>
    <servlet-class>servletcontext.ServletContextDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContextDemo3</servlet-name>
    <servlet-class>servletcontext.ServletContextDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieDemo1</servlet-name>
    <servlet-class>cookie.CookieDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieDemo2</servlet-name>
    <servlet-class>cookie.CookieDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieDemo3</servlet-name>
    <servlet-class>cookie.CookieDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionDemo1</servlet-name>
    <servlet-class>session.SessionDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionDemo2</servlet-name>
    <servlet-class>session.SessionDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionDemo3</servlet-name>
    <servlet-class>session.SessionDemo3</servlet-class>
  </servlet>












  
  
  <!-- 配置HelloServlet -->
  <servlet-mapping>
       <!-- 要和上面的servlet-name的内容保证一致 -->
  	   <servlet-name>HelloServlet</servlet-name>
  	   <!-- 以/开始，起一个url地址名，用于访问用 -->
  	   <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <!-- 一个servlet对应多个servlet-mapping -->
  <servlet-mapping>
  	   <servlet-name>HelloServlet</servlet-name>
  	   <url-pattern>/hello1</url-pattern>
  </servlet-mapping>
  <!-- 带*通配符的配置 -->
  <servlet-mapping>
  	   <servlet-name>HelloServlet</servlet-name>
  	   <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <!-- 带/mytest/*的配置 -->
  <servlet-mapping>
      <servlet-name>HelloServlet</servlet-name>
      <url-pattern>/mytest/mytest1/*</url-pattern>
  </servlet-mapping>
  <!-- 配置DefaultServlet-->
  <servlet-mapping>
  	  <servlet-name>DefaultServlet</servlet-name>
  	  <!-- /是缺省servlet，为了避免带来的影响，/后面加上default -->
  	  <url-pattern>/default</url-pattern>
  </servlet-mapping>
  <!-- 配置RegisterServlet -->
  <servlet-mapping>
  	 <servlet-name>RegisterServlet</servlet-name>
  	 <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <!-- 配置RequestDemo1 -->
  <servlet-mapping>
     <servlet-name>RequestDemo1</servlet-name>
     <url-pattern>/request1</url-pattern>
  </servlet-mapping>
  <!-- 配置RegisterServlet1 -->
  <servlet-mapping>
      <servlet-name>RegisterServlet1</servlet-name>
      <url-pattern>/register1</url-pattern>
  </servlet-mapping>
   <!-- 配置RequestDemo2 -->
   <servlet-mapping>
       <servlet-name>RequestDemo2</servlet-name>
       <url-pattern>/request2</url-pattern>
   </servlet-mapping>
    <!-- 配置RequestDemo3 -->
  <servlet-mapping>
    <servlet-name>RequestDemo3</servlet-name>
    <url-pattern>/request3</url-pattern>
  </servlet-mapping>
  <!-- 配置RequestDemo4 -->
  <servlet-mapping>
    <servlet-name>RequestDemo4</servlet-name>
    <url-pattern>/request4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo5</servlet-name>
    <url-pattern>/request5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo1</servlet-name>
    <url-pattern>/response1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo2</servlet-name>
    <url-pattern>/response2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo3</servlet-name>
    <url-pattern>/response3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletConfigDemo</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo</servlet-name>
    <url-pattern>/context</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo1</servlet-name>
    <url-pattern>/context1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo2</servlet-name>
    <url-pattern>/context2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo3</servlet-name>
    <url-pattern>/context3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieDemo1</servlet-name>
    <url-pattern>/cookie1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieDemo2</servlet-name>
    <url-pattern>/cookie2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieDemo3</servlet-name>
    <url-pattern>/cookie3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionDemo1</servlet-name>
    <url-pattern>/session1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionDemo2</servlet-name>
    <url-pattern>/session2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionDemo3</servlet-name>
    <url-pattern>/session3</url-pattern>
  </servlet-mapping>
  
  
  
  
  
</web-app>
