<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>com.lddx.web.BookListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookListServletPage</servlet-name>
    <servlet-class>com.lddx.web.BookListServletPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CodeImageServlet</servlet-name>
    <servlet-class>com.lddx.web.CodeImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckEmailServlet</servlet-name>
    <servlet-class>com.lddx.web.CheckEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.lddx.web.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.lddx.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.lddx.web.LoginServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/booklist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookListServletPage</servlet-name>
    <url-pattern>/listpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CodeImageServlet</servlet-name>
    <url-pattern>/codeimage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckEmailServlet</servlet-name>
    <url-pattern>/checkemail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/checkcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
